@use "../variables";

.infos-bar {
  padding: 16px 24px;
  background-color: variables.$lightgray;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.175);

  &__infos {
    display: flex;
    align-items: center;
    gap: 40px;

    &__item {
      font-size: 14px;
      color: variables.$secondaryTextColor;

      b {
        color: variables.$secondaryTextColor;
        font-size: 18px;
        display: block;
      }
    }
  }

  @media (max-width: 640px) {
    display: block;

    &__infos {
      display: block;

      &__item {
        margin-bottom: 24px;
      }
    }
  }

  @media (max-width: 1024px) {
    &__infos {
      gap: 16px;
    }
  }
}
